Edit Orders Page 

%p

%table
  %th Order ID
  %th Order Status
  %tr
    %td 
      = @order.id
    %td 
      = @order.status

%p

Change Quantity or Remove Products from Order if Order Status is "Pending" or "Paid"

%p

%table
  %th Product ID
  %th Product Name 
  %th Quantity 
  - if @order.status == "pending" || @order.status == "paid"
    - @order.order_products.each do |order_product|
      %tr
        = Product.find_by_id(order_product.product_id).id
      %tr 
        = Product.find_by_id(order_product.product_id).name
      %tr
        = form_tag update_quantity_admin_order_path do 
          = hidden_field_tag 'order_product_id', order_product.id
          = text_field_tag :quantity, order_product.quantity 
          = submit_tag "Update"
      %tr
        = form_tag 



