Orders Index

%p

Total Orders by Status

%p

= link_to "View All Orders", admin_orders_path
= link_to "View Shipped Orders", admin_orders_path(status: "shipped")
= link_to "View Cancelled Orders", admin_orders_path(status: "cancelled")
= link_to "View Pending Orders", admin_orders_path(status: "pending")
= link_to "View Paid Orders", admin_orders_path(status: "paid")
= link_to "View Returned Orders", admin_orders_path(status: "returned")

%p

%table{id: 'statusCount'}
  %th Order Status
  %th Number of Orders
  %tr
    %td
      = "shipped"
    %td
      = Order.find_all_by_status("shipped").count
  %tr
    %td
      ="cancelled"
    %td
      = Order.find_all_by_status("cancelled").count
  %tr
    %td
      = "pending"
    %td
      = Order.find_all_by_status("pending").count
  %tr
    %td
      = "paid"
    %td
      = Order.find_all_by_status("paid").count
  %tr
    %td
      = "returned"
    %td
      = Order.find_all_by_status("returned").count

%p

All Orders

%p

%table{id: 'all_orders'}
  %th Order ID
  %th Order Status
  %th View Order
  - @orders.each do |order|
    %tr
      %td
        = order.id
      %td 
        = order.status
      %td
        = link_to "View Order", admin_order_path(order), class: 'order', id: dom_id(order)
      - if order.status == "pending"
        %td
          = button_to "Cancel Order", { action: "cancel", id: order.id }
      - if order.status == "shipped"
        %td 
          = button_to "Mark as Returned", { action: "return", id: order.id }
      - if order.status == "paid"
        %td
          = button_to "Mark as Shipped", { action: "ship", id: order.id }

   