%table
  %tr
    %th Order ID
    %th Order Status
    %th Order Date
    %th Customer Email 
    %th Order Total 
  %tr
    %td
      = @order.id
    %td
      = @order.status
    %td
      = @order.created_at
    %td
      = @order.user.email
    %td Calculate Order Price 


%table
  %tr
    %th Product ID
    %th Product Name
    %th Quantity Purchased
    %th Product Price
    %th Subtotal 
  - @order.products.each do |product|
    %tr
      %td 
        = product.id
      %td 
        = link_to product.name, product_path(product), class: 'product', id: dom_id(product)
      %td 
        = @order.order_products.find_by_product_id(product.id).quantity
      %td
        = product.price 
    
        

