Orders

%table.checkout
  %tr
    %th.orders ID
    %th.orders Status
    %th.orders Date
    %th.orders Customer Name
    %th.orders Total
  %tr
    %td.orders
      = @order.id
    %td.orders
      = @order.status
    %td.orders
      = @order.created_at.strftime("%Y-%m-%d")
    %td.orders
      = " #{@order.user.first_name} #{@order.user.last_name} "
    %td.orders 
      = @order.total 

%br
%br

Order Products

%br

%table.orders
  %tr
    %th.orders ID
    %th Name
    %th Quantity
    %th Price
    %th Subtotal
  - @order.products.each do |product|
    %tr
      %td.orders
        = product.id
      %td.orders
        = link_to product.name, product_path(product), class: 'product', id: dom_id(product)
      %td.orders
        = @order.order_products.find_by_product_id(product.id).quantity
      %td.orders
        = product.price
      %td.orders 
        = @order.order_products.find_by_product_id(product.id).quantity * product.price


%p

= link_to "Update Order", edit_admin_order_path(@order)

