.row-fluid
  .span12
    .row-fluid
      .span12
        %ul.breadcrumb
          %li
    / /row
    .row-fluid
      %table
        %tr
          -@cart.products.each do |product|
            %td.cart
              .cart_image= image_tag product.image(:thumb)
              %br
              %br
              %p= "Price $#{product.price}"
              %p= "Price $#{product.name}"
              = form_tag update_quantity_cart_path do 
                = hidden_field_tag 'product_id', product.id
                .quantity= text_field_tag 'quantity', @cart.cart_products.find_by_product_id(product.id).quantity
                = submit_tag 'Update'
              %p Amount
              = @cart.cart_products.find_by_product_id(product.id).quantity * product.price
              = form_tag delete_product_cart_path do
                = hidden_field_tag 'product_id', product.id
                = submit_tag 'Remove'
= button_to "Checkout", checkout_path, :class => "checkout", :method => :get
