Checkout

%p

%form{action: checkout_path, method: 'post'}
  -@cart.products.each do |product|
    %table{id: 'products'}
      %th Product Name
      %th Quantity 
      %th Price Per Item 
      %th Subtotal 
      %tr
        %td= product.name
        %td 
          = @cart.cart_products.find_by_product_id(product.id).quantity
        %td= product.price
        %td= @cart.cart_products.find_by_product_id(product.id).quantity * product.price

%p

= link_to "Cancel", root_path

