.row-fluid
  .span6.create-account
    %h3 
      CHECKOUT
      %table.checkout{id: 'products'}
        %th.checkout Image
        %th.checkout Quantity
        %th.checkout Price
        %th.checkout Subtotal
        .border
        -@cart.products.each do |product|
          %tr
            %td.checkout
              = product.name
            %td.checkout
              = @cart.cart_products.find_by_product_id(product.id).quantity
            %td.checkout
              = "$ #{product.price}"
            %td.checkout
              = "$ #{@cart.cart_products.find_by_product_id(product.id).quantity * product.price}"
  .span6.login
    %h3 
      Already registered?
      = form_tag(checkout_path) do
        = label_tag 'First Name'
        = text_field_tag :firstName, current_user.first_name
        %br
        = label_tag 'Last Name'
        = text_field_tag :lastName, current_user.last_name
        %br
        = label_tag 'Credit Card Number'
        = text_field_tag :creditCardNumber, current_user.credit_card_number
        %br
        = label_tag 'Expiration Date'
        = text_field_tag :expirationDate
        %br
        = label_tag 'Address 1'
        = text_field_tag :addressLine1, current_user.address_line1
        %br
        = label_tag 'City'
        = text_field_tag :city, current_user.city
        %br
        = label_tag 'State'
        = text_field_tag :state, current_user.state
        %br
        = label_tag 'Zipcode'
        = text_field_tag :zipcode, current_user.zipcode
        %br
        = label_tag 'Email To'
        = text_field_tag :email, current_user.email
        %br
        = button_tag "Checkout", class: "checkout"
      %hr/
      .row-fluid.footer
      .span3

