Edit Products Page

= form_for [:admin, @product], html: {multipart: true} do |f|
  = image_tag @product.image.url(:medium)
  %p
  = f.file_field :image
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :description
    = f.text_field :description
  %p
    = f.label :price
    = f.text_field :price
  %p
    - for category in Category.find(:all)
      = check_box_tag "category_ids[]", category.id, @product.categories.include?(category)
      = category.name
  %p
    = f.submit 'Update Product'

