Edit Products Page 

= form_for [:admin, @product] do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :description 
    = f.text_field :description 
  %p
    = f.label :price
    = f.text_field :price 
  %p
    = f.submit 'Update Product'


/ retire should be a button 