Admin Products Page

%table
  - @products.each do |product|
    %tr
      %td
        = image_tag product.image.url(:thumb)
      %td
        = product.name
      %td
        = product.description
      %td
        = product.price
      %td
        - if product.retired?
          Retired
        - else
          = button_to "Retire", { action: "retire", id: product.id }
      %td
        = link_to "Edit", admin_product_path(product), class: 'product', id: dom_id(product)
= link_to "Add a product", new_admin_product_path
