.flash
  = flash.notice
  = flash[:success]

Welcome to our store! Product Index below

%p

%table
  %th Product Name
  %th Product Description
  %th Product Price
  - @products.each do |product|
    %tr
      %td
        = link_to product.name, product_path(product)
      %td
        = product.description
      %td
        = button_to 'Add to cart', add_item_cart_path(:product_id => product.id)
%p

= link_to "View Cart", cart_path 

