.flash
  = flash.notice

%table
  - @products.each do |product|
    %tr
      %td
        = product.name
      %td
        = product.description
      %td
        = form_tag add_item_cart_path do
          = hidden_field_tag 'product_id', product.id
          = submit_tag "Buy!"

