.row-fluid
  .span12
    %ul.breadcrumb
      %li
/ /row
.row-fluid
  .span4
    %ul.thumbnails
      %li.span12
        .thumbnail
          %a{:href => "product_detail.html"}
            %img{:alt => "", :src => "img/product3.jpg"}/
          .caption
            %h2= @product.name.capitalize
            %h3= "$#{@product.price}"
            %br
            %h4= @product.description
      %p
        .control-group
          %label.control-label.t-left{:for => "select01"} Quantity
          .controls
            %input.span4{:type => "text", :value => "1"}/
= form_tag add_item_cart_path do
  = hidden_field_tag "product_id", @product.id
  = submit_tag "Buy!"

