.row-fluid
  .span12
    %ul.breadcrumb
      %li
/ /row
.row-fluid
  = image_tag @product.image.url
  .span4
    %ul.thumbnails
      %li.span12
        .caption
          %h2= @product.name.capitalize
          %h3= "$#{@product.price}"
          %br
          %h4= @product.description
      %p
        .control-group
          %label.control-label.t-left{:for => "select01"} Quantity
          .controls
            %input.span4{:type => "text", :value => "1"}/

- if @product.retired?
  This product is retired
- else
<<<<<<< HEAD
  = form_tag( add_item_cart_path do
    = hidden_field_tag "product_id", @product.id
    = submit_tag "Add to Cart"

  = form_tag add_item_cart_path, :confirm => "Place an order for #{@product.name}?" do
    = hidden_field_tag "product_id", @product.id
    = submit_tag "Add and Checkout"


%br
%br
=======
  = form_tag add_item_cart_path do
    = hidden_field_tag "product_id", @product.id
    = submit_tag "Buy!"


%br
%br
>>>>>>> master
