!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "E-Things"
    %meta{:content => content_for?(:description) ? yield(:description) : "E-things", :name => "The place to be all things E!"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    #container.container
      %header
        %h1
          E-things!
        /= render 'layouts/navigation'
        /= render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
