!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title 
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            / Le styles
            %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
            = stylesheet_link_tag "bootstrap"
            = stylesheet_link_tag "style"
            = stylesheet_link_tag "bootstrap-responsive.css"
            / = javascript_include_tag "jquery-1.7.2.min.js"
            / = javascript_include_tag "bootstrap.min.js"
            / = javascript_include_tag "script.js"

            / Le HTML5 shim, for IE6-8 support of HTML5 elements
            /[if lt IE 9]
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            / Le fav and touch icons
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render file: 'layouts/navigation'
    #main{:role => "main"}
      .flash
        .notice
          = flash.notice
        .message
          = flash[:message]
        .success
          = flash[:success]
        .error
          = flash[:error]
      .container
        .content
          .row
            .span12
              /= render 'layouts/messages'
              = yield
          %footer
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / <a class="brand" href="#"></a>
          .nav-collapse
            %ul.nav.pull-right
              %li
                %a.disabled CURRENCY
              %li.active
                %a{:href => "#"} USD
              %li
                %a{:href => "#"} EUR
              %li.divider-vertical
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  LANGUAGE
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} EN
                  %li
                    %a{:href => "#"} FR
                  %li.divider
          / /.nav-collapse
    .container
      .row-fluid
        .span6.logo
          %h1
            %a{:href => "/"} StoreEngine
          %p We sell the best shit evar!
        .span6.account
          %ul
            %li#your-account
              %h4
                %a{:href => "#"} Your Account
              %p
                Welcome,
                %a{:href => login_path} login
            %li
              %h4
                %a{:href => cart_path} Cart
              %p
                - if session[:cart_id]
                  %strong= "#{Cart.find_by_id(session[:cart_id]).cart_products.count} Item(s)"
                - else
                  %strong 0
      .row-fluid
        .span12.nav-menus
          %ul.nav.nav-pills
            %li.active
              %a{:href => root_path} Images
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Categories
                %b.caret
              %ul#menu1.dropdown-menu
                / %li
                /   %a{:href => "#"}
                /     SweatShirts
                /     %i.icon-chevron-right.pull-right
                /   %ul.dropdown-menu.sub-menu
                /     %li
                /       %a{:href => "#"} Shirts
                /     %li
                /       %a{:href => "#"} T-shirts
                /     %li
                /       %a{:href => "#"} Polo Shirts
                /     %li
                /       %a{:href => "#"} Tanktop
                %li
                  %a{:href => "#"} Cityscapes
                %li.divider
                %li
                  %a{:href => "categories.html"} Fashion & Retail
                %li.divider
                %li
                  %a{:href => "#"} Goats
                %li.divider
                %li
                  %a{:href => "#"} Artwork
            %li.dropdown
              / %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              /   Girl
              /   %b.caret
              / %ul#menu1.dropdown-menu
              /   %li
              /     %a{:href => "#"} Shirts
              /   %li
              /     %a{:href => "#"} Pants
              /   %li
              /     %a{:href => "#"} Skirts
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "about.html"} About
            %li
              %a{:href => "contact.html"} Contact

            %br
            %br
      
      = yield 
      / .row-fluid
      /   .span12
      /     .page-header
      /       %h1
      /         Best Seller
      /         %small Most sold product in this month
      / .row-fluid
      /   %ul.thumbnails
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product1.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product2.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product3.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product4.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      / .row-fluid
      /   .span12
      /     .page-header
      /       %h1
      /         New Arrival
      /         %small New products in this month
      / .row-fluid
      /   %ul.thumbnails
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product1.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product2.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product3.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product4.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      / .row-fluid
      /   .span12
      /     .page-header
      /       %h1
      /         Random Product
      /         %small Other products
      / .row-fluid
      /   %ul.thumbnails
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product1.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product2.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product3.jpg"}/
      /         .caption
      /           %h5 Pants
      /           %p $54.00
      /           %p Available
      /     %li.span3
      /       .thumbnail
      /         %a{:href => "product_detail.html"}
      /           %img{:alt => "", :src => "img/product4.jpg"}/
      /         .caption
      /           %h5 Shirt
      /           %p $20.50
      /           %p Available
      / %hr/
      .row-fluid.footer
        .span3
          %h3 Information
          %ul
            %li
              %a{:href => "#"} Contact
            %li
              %a{:href => "#"} Delivery
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} Terms and condition
        .span3
          %h3 Stay in touch
          %ul
            %li
              %a{:href => "#"} Facebook
            %li
              %a{:href => "#"} Twitter
            %br/
            %li
              .control-group
                .controls
                  .input-prepend.input-append
                    %span.add-on
                      %i.icon-envelope
                    %input#appendedPrependedInput.span6{:placeholder => "Enter your email", :size => "16", :type => "text"}
                      %input.btn{:name => "submit", :type => "submit", :value => "Subscribe"}/
          %p
        .span3
          %h3 Affiliate
          %ul
            %li
              %a{:href => "#"} Lorem ipsum
            %li
              %a{:href => "#"} Lorem ipsum dolor sit amet
            %li
              %a{:href => "#"} Lorem ipsum
            %li
              %a{:href => "#"} Lorem ipsum dolor sit amet
        .span3
          %h3 Discover our store
          %ul
            %li
              %a{:href => "#"} California
            %li
              %a{:href => "#"} Bali
            %li
              %a{:href => "#"} Singapore
            %li
              %a{:href => "#"} Canada
      %hr
        %footer
          %p &copy; StoreEngine 2012. All right reserved.
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/script.js"}

